<%= form_for(@mailing_list) do |f| %>
  <% if @mailing_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mailing_list.errors.count, "error") %> prohibited this mailing_list from being saved:</h2>

      <ul>
      <% @mailing_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name, size: 40 %>
  </div>

  <div class="field">
    <%= f.label :description, 'Description' %><br>
    <%= f.text_field :description, row: 4, size: 40 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
