<h1>Add User Acounts</h1>

<%= form_tag add_users_mailing_list_path, :method => :get, class: 'get_users' do %>
	<%= label_tag 'user_select', 'Please Select a User account to the Mailing List' %>
	<%= select_tag "set_users", options_from_collection_for_select(@user_accounts, 'id', 'usr_first_name', selected: params[:set_users]) %>
	<%= submit_tag 'add' %> 

<% end %>

<% if params[:set_users] %>
	<p><%= @user_accounts.find(params[:set_users]).user_email %> 
		is added to <%= @mailing_list.name %> successfully
	</p>
<% end %>

<%= link_to 'Back', mailing_lists_path %>

<br>