<h1>Add User Acounts</h1>

<%= form_tag add_users_mailing_list_path, :method => :get, class: 'get_users' do %>
    <div class = form-label>
		<%= label_tag 'user_select', 'Please Select a User account to the Mailing List' %>
	</div>
	<%= select_tag "set_users", options_from_collection_for_select(@user_accounts, 'id', 'full_name', selected: params[:set_users]) %>
	<div class = button>
		<%= submit_tag 'add' %> 
	</div>

<% end %>

<% if params[:set_users] %>
	<p><%= @user_accounts.find(params[:set_users]).user_email %> 
		is added to <%= @mailing_list.name %> successfully
	</p>

	
<% end %>

<%= link_to 'Back', mailing_lists_path %>

<br>