<p id="notice"><%= notice %></p>

<h1>Listing Mailing Lists</h1>

<table>
  <thead>
    <tr>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @mailing_lists.each do |mailing_list| %>
      <tr>
        <td>Mailing List #<%= i %></td>
        <td>Name: <%= mailing_list.name %></td>
        <td><%= link_to 'Show', mailing_list %></td>
        <td><%= link_to 'Edit', edit_mailing_list_path(mailing_list) %></td>
        <td><%= link_to 'Add User Accounts', add_users_mailing_list_path(mailing_list) %></td>
        <td><%= link_to 'Destroy', mailing_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mailing list', new_mailing_list_path %>
