<p id="notice"><%= notice %></p>

<p>
	<strong>Mailing List Name:</strong>
	<%= @mailing_list.name %>
</p>

<p>
	<strong>Mailing List Description:</strong>
	<%= @mailing_list.description %>
</p>

<p>
	<strong>List of Email in the List:</strong>
<table>

	<tbody>
		<tr class = form-label>
			<td>User Account Name</td>
			<td>Email Address</td>
			<td></td>
		</tr>
		<th colspan="3"></th>
		<% @email_lists.each do |email_list| %>
			<tr>
			  <td><%= email_list.user_account.full_name %></td>
			  <td><%= email_list.user_account.user_email %></td>
			  <td><%= link_to 'Remove', email_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</p>

<%= link_to 'Edit Mailing List', edit_mailing_list_path(@mailing_list) %> |
<%= link_to 'Add another account', add_users_mailing_list_path(@mailing_list) %> |
<%= link_to 'Back', mailing_lists_path %>
