<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @mailing_list.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @mailing_list.description %>
</p>

<p>
	<strong>List of Email in the List</strong>
<table>
	<tbody>
		<% @email_lists.each do |email_list| %>
			<tr>
			  <td><%= email_list.user_account.full_name %></td>
			  <td><%= email_list.user_account.user_email %></td>
			</tr>
		<% end %>
	</tbody>
</table>
</p>

<%= link_to 'Edit', edit_mailing_list_path(@mailing_list) %> |
<%= link_to 'Back', mailing_lists_path %>
